html {
  background: rgba(0, 0, 0, 1) !important;
  height: 100vh;
}

body {
  background: rgba(0, 0, 0, 1) !important;
  height: 500vh;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
  background: rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0); /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(70, 70, 70); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 0px solid rgb(175, 175, 175); /* creates padding around scroll thumb */
}
